# Remove csv files and relationships.txt from gitignore
*.csv
*relationships.txt
.pyc
relationships.txt
data/freeway/all/down/train/train_facts.txt
data/freeway/all/down/train/train_infer/train_infer_facts.txt
data/freeway/all/noop/train/train_facts.txt
data/freeway/all/noop/train/train_infer/train_infer_facts.txt
data/freeway/all/up/train/train_facts.txt
data/freeway/all/up/train/train_infer/train_infer_facts.txt